In [2]:
import arviz as az
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pymc3 as pm
# import seaborn
# import theano.tensor as tt
# import warnings
# from IPython.core.pylabtools import figsize
# import seaborn as sns
# from sklearn.metrics import (roc_curve, roc_auc_score, confusion_matrix, accuracy_score, f1_score, 
#                              precision_recall_curve) 
# from sklearn.metrics import confusion_matrix

The dataset contains several variables such as light, temperature, humidity, and CO2 levels. The goal is to detect a roomâ€™s occupancy from these variables.

https://towardsdatascience.com/bayesian-logistic-regression-with-pymc3-8e17c576f31a

In [3]:
df=pd.read_csv('./data/datatest.txt')
df.sample(5)

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1550,2015-02-03 13:49:00,23.183333,25.70,608.333333,879.000000,0.004516,1
1646,2015-02-03 15:24:59,22.917500,30.29,464.000000,1294.000000,0.005243,1
1008,2015-02-03 04:46:59,20.390000,22.50,0.000000,439.666667,0.003327,0
514,2015-02-02 20:32:59,21.000000,23.29,0.000000,519.333333,0.003577,0
2488,2015-02-04 05:26:59,20.600000,24.39,0.000000,461.333333,0.003655,0