**instance methods** can freely access attributes and other methods on the same object through the `self` parameter. This gives them a lot of power when it comes to modifying an object’s state. Not only can they modify object state, instance methods can also access the class itself through the `self.__class__` attribute. This means instance methods can also modify class state.

**class methods** allow defining alternative constructors for the class. Python only allows one `__init__` method per class. Using class methods it’s possible to add as many alternative constructors as necessary --- Those are called *factory functions*. Class methods can only modify class state that applies across all instances of the class. They can’t modify object instance state, as this would require access to self.


**static methods** can’t access class or instance state because they don’t take a `cls` or `self` argument. That’s a big limitation — but it’s also a great signal to show that a particular method is independent from everything else around it.

Note that naming the parameters `self` and `cls` is just a convention. They could just as easily be named the_object and the_class.

In [1]:
import math

class Pizza:
    def __init__(self, ingredients, radius=15):
        self.radius = radius
        self.ingredients = ingredients

    def __repr__(self):
        return (f'Pizza({self.radius!r}, '
                f'{self.ingredients!r})')

    
    # example of class methods
    @classmethod
    def margherita(cls):
        return cls(['mozzarella', 'tomatoes'])

    @classmethod
    def prosciutto(cls):
        return cls(['mozzarella', 'tomatoes', 'ham'])
    
    
    # instance method
    def area(self):
        return self.circle_area(self.radius)
    
    # example of static methods
    @staticmethod
    def circle_area(r):
        return r ** 2 * math.pi

In [2]:
# can call class method on the class
Pizza.margherita()

Pizza(15, ['mozzarella', 'tomatoes'])

In [3]:
# can also call class method on an instance, thanks to the attribute self.__class__
pizza = Pizza(["tomatoes"], radius=30)
pizza.margherita()

Pizza(15, ['mozzarella', 'tomatoes'])

In [4]:
pizza.area()

2827.4333882308138

**Basic inheritance**

In [5]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * self.length + 2 * self.width

class Square(Rectangle):
    def __init__(self, length):
        super().__init__(length, length)

In [7]:
s = Square(10)
s.area()

100

**Use of mixin**

Instead of defining an “is-a” relationship it may be more accurate to say that it defines an “includes-a” relationship. With a mix-in you can write a behavior that can be directly included in any number of other classes.

Below, you will see a short example using VolumeMixin to give specific functionality to our 3D objects—in this case, a volume calculation

In [8]:
class Rectangle():
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

class Square(Rectangle):
    def __init__(self, length):
        super().__init__(length, length)

class VolumeMixin():
    def volume(self):
        return self.area() * self.height

class Cube(VolumeMixin, Square):
    def __init__(self, length):
        super().__init__(length)
        self.height = length

    def face_area(self):
        return super().area()

    def surface_area(self):
        return super().area() * 6

In [9]:
cube = Cube(2)
print(cube.surface_area(), cube.volume())

24 8

In [13]:
import pandas as pd
df = pd.DataFrame(data = [51,15,48,15], columns=["A"], index=pd.to_datetime(["2018-01-01", "2018-01-02", "2018-01-03", "2018-01-04"]))

In [15]:
df["A-1"] = df["A"].shift(1)

In [16]:
df

             A   A-1
2018-01-01  51   NaN
2018-01-02  15  51.0
2018-01-03  48  15.0
2018-01-04  15  48.0

In [17]:
df.reindex()

             A   A-1
2018-01-01  51   NaN
2018-01-02  15  51.0
2018-01-03  48  15.0
2018-01-04  15  48.0